<div class="host-index">
	<div class="title-container">
		<h1 class="title">UWR Couch Surfing</h1>
		<button class="btn btn-success add-host" data-toggle="modal" data-target="#addHostModal">Become a host</button>
	</div>

	<div class="hosts-container">
		<% @hosts.each_with_index do |host, index| %>
		<div class="host-container">
			<div class="host-header <%= index == 0 ? 'first-header' : '' %>" data-toggle="collapse" data-target="#collapse<%= host.id %>">
				<h2>
					<span class="host-name"><%= host.name %></span>
					<span class="available-couches">
						(<%= pluralize(host.available_couches.length, "available couch") %>)
					</span>
					<button class="btn btn-success add-couch j-add-couch-btn" data-host-id="<%= host.id %>">Add couch</button>
				</h2>
			</div>
			<div class="collapse" id="collapse<%= host.id %>">
				<div class='host-details'>
					<% if !host.phone.nil? && !host.phone.empty? %>
					<span>Phone: <%= host.phone %>.</span>
					<% end %>

					<%if !host.email.nil? && !host.email.empty? %>
					<span>Email: <%= host.email %></span>
					<% end %>
				</div>
				<div class="host-couches">
					<% host.couches.each do |couch| %>
					<div class="couch-container" data-couch-id="<%= couch.id %>">
						<div class="couch-information col-sm-6">
							<h3 class="couch-information-title">Couch details</h2>
							<form class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-2 control-label">Description</label>
									<div class="col-sm-10">
										<input class="form-control j-description-input" type="text" value="<%= couch.description %>" />
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 control-label">Comments</label>
									<div class="col-sm-10">
										<textarea rows="5" class="from-control j-comments-input"><%= couch.host_comments %></textarea>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 control-label">Admin code</label>
									<div class="col-sm-10">
										<input class="form-control j-code-input" type="password" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<button class="btn btn-primary j-update-btn">Update</button>
										<button class="btn btn-danger j-remove-btn">Remove couch</button>
										<% if !couch.occupant_name.nil? %>
										<button class="btn btn-danger j-vacate-btn">Remove occupant</button>
										<% end %>
										<%= image_tag "ajax-loader.gif", class: "ajax-loader" %>
									</div>
								</div>
							</form>
						</div>
						<div class="occupant-information col-sm-6">
							<h3 class="occupant-information-title">Occupant details</h2>
							<form class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-2 control-label">Name</label>
									<div class="col-sm-10">
										<input class="form-control j-name-input" type="text" <%= couch.occupant_name.nil? ? '' : 'readonly=readonly' %> value="<%= couch.occupant_name %>" />
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 control-label">Phone</label>
									<div class="col-sm-10">
										<input class="form-control j-phone-input" type="text" <%= couch.occupant_name.nil? ? '' : 'readonly=readonly' %> value="<%= couch.occupant_phone %>" />
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 control-label">Email</label>
									<div class="col-sm-10">
										<input class="form-control j-email-input" type="text" <%= couch.occupant_name.nil? ? '' : 'readonly=readonly' %> value="<%= couch.occupant_email %>" />
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 control-label">Comments</label>
									<div class="col-sm-10">
										<textarea class="form-control j-comments-input" rows="5" <%= couch.occupant_name.nil? ? '' : 'readonly=readonly' %>><%= couch.occupant_comments %></textarea>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<% if couch.occupant_name.nil? %>
										<button class="btn btn-primary j-claim-couch-btn">Claim</button>
										<%= image_tag "ajax-loader.gif", class: "ajax-loader" %>
										<% end %>
									</div>
								</div>
							</form>
						</div>
					</div>
					<% end %>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>

<%= render "add_host.html.erb" %>

<% content_for :page_javascript do %>
	<%= render "index.js.erb" %>
<% end %>
